karta-ai-workflow.json
{
  "name": "Karta AI Agent (Safe Import)",
  "nodes": [
    {
      "parameters": {
        "path": "ai-agent",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "message", "value": "={{$json[\"message\"]}}" }
          ]
        }
      },
      "id": "2",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.message\n    }\n  ],\n  \"system\": \"You are an AI agent controlling a multi-step campaign builder. Return JSON with chat and actions. Always include SET_STATE and SET_FORM for step updates.\"\n}",
        "headerParametersJson": "={\n  \"x-api-key\": \"YOUR_ANTHROPIC_API_KEY\",\n  \"anthropic-version\": \"2023-06-01\",\n  \"content-type\": \"application/json\"\n}"
      },
      "id": "3",
      "name": "Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "functionCode": "const content = $json.content[0].text;\nconst parsed = JSON.parse(content);\nreturn parsed;"
      },
      "id": "4",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {},
      "id": "5",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Message", "type": "main", "index": 0 }]]
    },
    "Set Message": {
      "main": [[{ "node": "Anthropic API", "type": "main", "index": 0 }]]
    },
    "Anthropic API": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}