karta-ai-workflow.json
{
  "name": "Karta AI Agent (Anthropic + Neon)",
  "nodes": [
    {
      "parameters": {
        "path": "ai-agent",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "message", "value": "={{$json[\"message\"]}}" }
          ],
          "json": [
            { "name": "context", "value": "={{$json[\"context\"]}}" }
          ]
        }
      },
      "id": "set",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet",
        "messages": [
          {
            "role": "system",
            "content": "You are an AI agent controlling a multi-step campaign builder. Return JSON: {\"chat\": string, \"actions\": []}. Always include SET_STATE + SET_FORM for step updates."
          },
          {
            "role": "user",
            "content": "={{$json[\"message\"]}}"
          }
        ]
      },
      "id": "anthropic",
      "name": "Claude AI",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const res = JSON.parse($json.content);\n\nif (!res.actions) throw new Error(\"Invalid AI response\");\n\nreturn res;"
      },
      "id": "validate",
      "name": "Validate AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.actions.some(a => a.type === 'RUN_WORKFLOW')}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "switch",
      "name": "Check Workflow",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "functionCode": "const action = $json.actions.find(a => a.type === 'RUN_WORKFLOW');\nreturn { json: action.payload };"
      },
      "id": "extract",
      "name": "Extract Workflow",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaigns (name) VALUES ($1) RETURNING *;",
        "additionalFields": {
          "queryParams": "={{[$json.data?.name || 'Untitled Campaign']}}"
        }
      },
      "id": "postgres",
      "name": "Neon Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1400, 200],
      "credentials": {
        "postgres": {
          "id": "YOUR_DB_CREDENTIAL_ID",
          "name": "Neon DB"
        }
      }
    },
    {
      "parameters": {},
      "id": "response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1600, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Set Context", "type": "main", "index": 0 }]]
    },
    "Set Context": {
      "main": [[{ "node": "Claude AI", "type": "main", "index": 0 }]]
    },
    "Claude AI": {
      "main": [[{ "node": "Validate AI Response", "type": "main", "index": 0 }]]
    },
    "Validate AI Response": {
      "main": [[{ "node": "Check Workflow", "type": "main", "index": 0 }]]
    },
    "Check Workflow": {
      "main": [
        [{ "node": "Extract Workflow", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Extract Workflow": {
      "main": [[{ "node": "Neon Postgres", "type": "main", "index": 0 }]]
    },
    "Neon Postgres": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}