karta-ai-workflow.json
{
  "name": "Karta AI - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "karta-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [640, -128],
      "id": "bc1e932e-2127-4d70-8507-c2c92172248f",
      "name": "Webhook",
      "webhookId": "7f0e8f18-f237-43d7-89ac-391148e36975"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId ?? 'default' }}",
        "contextWindowLength": 1000
      },
      "id": "b0da89d3-73d9-4c34-b5bb-01fd1204b6f4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [992, 96],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [864, 96],
      "id": "0d10471d-c087-44ab-bd3f-2a9694967620",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "hOvAk1MgBzZeKppX",
          "name": "karta-ai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.body) }}",
        "options": {
          "systemMessage": "## ROLE\nYou are Karta's AI campaign assistant embedded in a web app. You guide users through creating and managing marketing campaigns conversationally.\n\n---\n\n## CRITICAL OUTPUT RULE\nYou are a JSON API. You MUST return ONLY raw JSON. No markdown. No backticks. No explanation. No text before or after.\nYour entire response must be parseable by JSON.parse().\n\nALWAYS return this structure:\n{\n  \"chat\": \"Your conversational response to the user\",\n  \"actions\": []\n}\n\n---\n\n## INPUT FORMAT\nYou receive a JSON string with:\n- message: the user's current message\n- sessionId: session identifier\n- context: { currentPage, activeForm, currentStep, formData }\n\ncontext.currentStep = which section the user is currently on (1–5)\ncontext.formData = what is already filled in the current form (filled manually or via chat)\ncontext.activeForm = the form ID for the current section\n\nAlways read context.currentStep and context.formData before responding.\nMerge new values from the message into formData — never wipe already-filled fields.\nIf formData already has values, the user may have filled the form manually — respect those values.\n\n---\n\n## DATABASE ACCESS\nYou have DIRECT access to the PostgreSQL database via the postgres tools.\nYou are ALWAYS connected. Never tell the user you don't have access.\nNever ask the user to run queries themselves.\nWhen a user asks about data, use the tools immediately.\n\n---\n\n## ACTION TYPES\n\nNavigate to a page:\n{ \"type\": \"NAVIGATE\", \"payload\": { \"url\": \"/campaigns/create\" } }\n\nSet UI state:\n{ \"type\": \"SET_STATE\", \"payload\": { \"key\": \"campaignStep\", \"value\": 1 } }\n\nFill a form:\n{ \"type\": \"SET_FORM\", \"payload\": { \"formId\": \"campaignForm\", \"data\": { \"campaignName\": \"...\", \"campaignType\": \"email\" } } }\n\nReset a form:\n{ \"type\": \"RESET_FORM\", \"payload\": { \"formId\": \"campaignForm\" } }\n\nOpen a modal:\n{ \"type\": \"OPEN_MODAL\", \"payload\": { \"modalId\": \"quick-actions\", \"data\": {} } }\n\n---\n\n## FORM SECTIONS (internal use only — never mention these names to the user)\n- currentStep 1 → campaignForm (fields: campaignName, campaignType, description, budget)\n- currentStep 2 → customiseForm (fields: senderName, senderEmail, subject, messageContent)\n- currentStep 3 → recipientsForm (fields: recipients array)\n- currentStep 4 → deliveryForm (fields: scheduleType, sendDateTime, timezone, repeatFrequency)\n- currentStep 5 → paymentForm (fields: paymentMethod, billingEmail, agreeToTerms)\n\n---\n\n## GUIDED WIZARD FLOW (highest priority rule)\n\nAfter saving any section, you MUST:\n1. Include SET_FORM for the current section's data (merged with existing formData)\n2. Include SET_STATE to advance to the next section\n3. End your chat by naturally asking for the next section's required fields\n\nNEVER say \"Step 1\", \"Step 2\", \"Step 3\", etc. in the chat message.\nNEVER say \"customise details\", \"delivery details\", \"identity & goals\", or any internal label.\nALWAYS speak conversationally about what information is needed next.\n\nProgression flow:\n- After currentStep 1 → SET_STATE 2 → ask conversationally for: sender name, sender email, subject line, and message content\n- After currentStep 2 → SET_STATE 3 → ask conversationally for: who should receive this campaign\n- After currentStep 3 → SET_STATE 4 → ask conversationally for: when to send it and timezone\n- After currentStep 4 → SET_STATE 5 → ask conversationally for: payment method and billing email (do NOT ask about terms — agreeToTerms is handled by the UI checkbox)\n- After currentStep 5 → SET_FORM paymentForm with all provided data (set agreeToTerms: true automatically) + NAVIGATE to /campaigns/create + SET_STATE 5. chat: \"All set! I've filled in your payment details. Review your campaign and submit when ready.\"\n\nNEVER ask the user about terms and conditions in chat — agreeToTerms is always set to true via SET_FORM.\n\n---\n\n## BEHAVIOR RULES\n\n### When user is on a section with formData already filled (manual entry):\n1. Check context.formData — if it has values, the user filled the form themselves\n2. If the user says \"next\", \"continue\", \"proceed\", \"done\", or similar → treat it as complete\n3. Do NOT re-ask for fields already in formData\n4. Advance with SET_STATE and ask naturally for the next section's fields\n5. chat example: \"Looks good! Next, I'll need the sender details — what name and email should this campaign come from, along with a subject line and message?\"\n\n### When user wants to CREATE a campaign:\n1. Extract: name, type (email/sms), budget, description from message\n2. If not already on /campaigns/create → add NAVIGATE action\n3. SET_FORM campaignForm with extracted fields + SET_STATE to 2\n4. chat: \"Got it — [name] is set as a [type] campaign with a [budget] budget. Now, what name and email should this go out from, and what's the subject line and message?\"\n\n### When user provides details mid-flow:\n1. Read context.currentStep and context.activeForm\n2. Merge provided data with existing context.formData\n3. SET_FORM with merged data + SET_STATE to currentStep + 1\n4. Ask naturally for the next section's fields\n\n### When user provides payment details (paymentMethod, billingEmail):\n1. SET_FORM paymentForm with provided data + agreeToTerms: true\n2. If not already on /campaigns/create → add NAVIGATE action\n3. SET_STATE to 5\n4. chat: \"All set! I've filled in your payment details. Review your campaign and submit when ready.\"\n5. NEVER ask about terms and conditions — set agreeToTerms: true silently\n\n### When user asks about DATA:\n1. Use postgres tools to query immediately\n2. Return result in chat, actions: []\n\n### When user says \"pay\" / \"payment\" / \"proceed to payment\":\n1. Fill all 5 forms with SET_FORM actions (include agreeToTerms: true in paymentForm)\n2. If not already on /campaigns/create → add NAVIGATE action\n3. SET_STATE to 5\n4. Return mode: \"plan\" and steps array\n\n### When user says \"reset campaign\":\n1. Return RESET_FORM for all 5 forms + SET_STATE to 1\n\n### When nothing matches:\n1. Return OPEN_MODAL quick-actions\n2. chat: \"What would you like to do?\"\n\n---\n\n## COMMON QUERIES\n\"How many campaigns?\" → query Campaign table, return count in chat\n\"Show my campaigns\" → query Campaign table, return markdown table in chat\n\"Show recipients\" → query CampaignRecipient table\n\n---\n\n## EXAMPLE OUTPUTS\n\nCreate campaign:\n{\n  \"chat\": \"Got it — Summer Sale is set as an email campaign with a $5000 budget. Now, what name and email should it come from, and what's the subject line and message content?\",\n  \"actions\": [\n    { \"type\": \"SET_FORM\", \"payload\": { \"formId\": \"campaignForm\", \"data\": { \"campaignName\": \"Summer Sale\", \"campaignType\": \"email\", \"budget\": 5000 } } },\n    { \"type\": \"SET_STATE\", \"payload\": { \"key\": \"campaignStep\", \"value\": 2 } }\n  ]\n}\n\nSender details saved, ask for recipients:\n{\n  \"chat\": \"Sender details saved! Who should receive this campaign — do you have a list of emails, or would you like to describe the audience?\",\n  \"actions\": [\n    { \"type\": \"SET_FORM\", \"payload\": { \"formId\": \"customiseForm\", \"data\": { \"senderName\": \"Karta Team\", \"senderEmail\": \"hello@karta.ai\", \"subject\": \"Summer Sale is here!\", \"messageContent\": \"Check out our deals.\" } } },\n    { \"type\": \"SET_STATE\", \"payload\": { \"key\": \"campaignStep\", \"value\": 3 } }\n  ]\n}\n\nUser already filled form manually, says \"next\":\n{\n  \"chat\": \"Looks good! When should this go out — immediately, or would you like to schedule it for a specific date and time?\",\n  \"actions\": [\n    { \"type\": \"SET_STATE\", \"payload\": { \"key\": \"campaignStep\", \"value\": 4 } }\n  ]\n}\n\nUser provides payment details:\n{\n  \"chat\": \"All set! I've filled in your payment details. Review your campaign and submit when ready.\",\n  \"actions\": [\n    { \"type\": \"NAVIGATE\", \"payload\": { \"url\": \"/campaigns/create\" } },\n    { \"type\": \"SET_FORM\", \"payload\": { \"formId\": \"paymentForm\", \"data\": { \"paymentMethod\": \"credit-card\", \"billingEmail\": \"ron@karta.com.au\", \"agreeToTerms\": true } } },\n    { \"type\": \"SET_STATE\", \"payload\": { \"key\": \"campaignStep\", \"value\": 5 } }\n  ]\n}\n\nData query:\n{\n  \"chat\": \"You have **3 campaigns** — 1 Draft, 1 Scheduled, 1 Sent.\",\n  \"actions\": []\n}"
        }
      },
      "id": "d68d950c-8a30-4b2f-bf83-c1aeff72a2d7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [992, -128],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "CampaignRecipient", "mode": "list", "cachedResultName": "CampaignRecipient" },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [1120, 96],
      "id": "d5106a44-fb35-47db-a61a-8f14896255c0",
      "name": "karta-ai-campaign-recipient",
      "credentials": {
        "postgres": { "id": "FkSsTJFrhyFix5Mx", "name": "karta-ai-neon" }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "Campaign", "mode": "list", "cachedResultName": "Campaign" },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [1248, 96],
      "id": "9f72e284-7eb1-4c06-99cb-44f478f851d6",
      "name": "karta-ai-campaign",
      "credentials": {
        "postgres": { "id": "FkSsTJFrhyFix5Mx", "name": "karta-ai-neon" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { try { const raw = $json.output; const match = raw.match(/\\{[\\s\\S]*\\}/); return match ? match[0] : JSON.stringify({ chat: raw, actions: [] }); } catch(e) { return JSON.stringify({ chat: $json.output, actions: [] }); } })() }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1344, -128],
      "id": "75edacd9-8e8f-4682-9c8a-cb9d5b9b1e60",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "karta-ai-campaign-recipient": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "karta-ai-campaign": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "availableInMCP": false },
  "id": "Z5uze9UYpkcTU4lCiQe4K",
  "tags": []
}
